###> Postgres ###
DB_NAME=marido_de_aluguel
DB_USER=symfony_user
DB_PASSWORD=change_me
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@database:5432/${DB_NAME}?serverVersion=16&charset=utf8
###< Postgres ###

###> Mercure ###
MERCURE_JWT_KEY=change_me
CORS_ORIGINS=http://localhost:8080 http://127.0.0.1:8080
###< Mercure ###

###> Seaweed ###
STORAGE_ENDPOINT=http://seaweed_filer:8333
STORAGE_REGION=us-east-1
STORAGE_KEY=change_me
STORAGE_SECRET=change_me
STORAGE_BUCKET_PUBLIC=app-public
STORAGE_BUCKET_PRIVATE=app-private
STORAGE_PUBLIC_HOST=http://localhost:8333
###< Seaweed ###
